

.col-md-12 {
    background-image:url('https://j.gifs.com/n55AzW.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
}