body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  font-weight: bold;
  line-height: 20px;
  color:#0d0c0c;
  background-color: white;
  padding: 8px;
}

.legend i {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 25px;
  opacity: 0.7;
}
